@import url("https://fonts.googleapis.com/css?family=Quicksand&display=swap");
@import url("https://fonts.googleapis.com/css?family=Roboto:100");

/** ---------------------- GENERAL ---------------------- **/

html {
  min-height: 100%;
}

body {
  background: linear-gradient(0deg, #8d8eb5 1%, #000000);
  color: #5f9a73f8;
  text-align: center;
  font-size: 1em;
  font-family: Helvetica, sans-serif;
  background-attachment: fixed;
}
h1{
  text-align: center;
}

input {
  background-color: rgb(86, 75, 75);
  
  color: white;
  border: none;
  font-size: 16px;
  padding: 10px;
  border-radius: 5px;
  position: absolute;
  left: 575px;
  top: 300px;
}

#login-button {
  background-color: #564a4a37;
  border: 10px solid #2c2f2d;
  border-radius: 7rem;
  color: #b4bab5;
  font-family: Helvetica, sans-serif;
  font-size: 4rem;
  font-weight: 1000;
  overflow: hidden;
  padding: 1rem 2rem;
  position: relative;
  top: 200px;
  left: 0;
  text-decoration: none;
  transition: 0.2s transform ease-in-out;
  will-change: transform;
  z-index: 0;
}
#login-button::after {
  background-color: #1db954b0;
  border-radius: 7rem;
  content: '';
  display: block;
  height: 100%;
  width: 100%;
  position: absolute;
  left: 0;
  top: 0;
  transform: translate(-100%, 0) rotate(10deg);
  transform-origin: top left;
  transition: 0.2s transform ease-out;
  will-change: transform;
  z-index: -1;
}
#login-button:hover::after {
  transform: translate(0, 0);
}
#login-button:hover {
  border: 10px solid transparent;
  color: #000000;
  transform: scale(1.05);
  will-change: transform;
}

#logout-button {
  background-color: #564a4a37;
  border: 2px solid #2c2f2d;
  border-radius: 7rem;
  color: #b4bab5;
  font-family: Helvetica, sans-serif;
  font-size: 1rem;
  font-weight: 1000;
  overflow: hidden;
  padding: 1rem 2rem;
  position: relative;
  text-decoration: none;
  transition: 0.2s transform ease-in-out;
  will-change: transform;
  z-index: 0;
}
#logout-button::after {
  background-color: #1db954b0;
  border-radius: 7rem;
  content: '';
  display: block;
  height: 100%;
  width: 100%;
  position: absolute;
  left: 0;
  top: 0;
  transform: translate(-100%, 0) rotate(10deg);
  transform-origin: top left;
  transition: 0.2s transform ease-out;
  will-change: transform;
  z-index: -1;
}
#logout-button:hover::after {
  transform: translate(0, 0);
}
#logout-button:hover {
  border: 2px solid transparent;
  color: #000000;
  transform: scale(1.05);
  will-change: transform;
}

.container {
  margin-top: 1rem;
}

/** ---------------------- NAVBAR ---------------------- **/

.navbar {
  z-index: 1;
  background: #00000000;
  border-image: #000000;
  border-left: 0px;
  border-right: 0px;
  border-top: 0px;
  border-bottom: 5px solid;
  border-image-slice: 1;
  width: 100%;
  height: 6.2em;
}

.navbar-expand {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  flex-flow: row nowrap;
  -webkit-box-pack: start;
  justify-content: flex-start;
}

.nav-item {
  margin-left: 2em;
  vertical-align: bottom;
}

.nav-link {
  font-family: Helvetica, sans-serif;
  font-size: 2.25vw;
  font-weight: 200;
  color: #ffffff;
  position: relative;
  text-shadow: 0px 0px 0px #e6e6e6;
  letter-spacing: 0.15em;
  margin-top: 0.5em;
}

.nav-link:hover {
  border: 2px solid transparent;
  color: #1db954;
  transform: scale(1.05);
  will-change: transform;
}

img.logo {
  background-color: transparent;
  max-height: 6vw;
}
img.logo:hover {
  border: 2px solid transparent;
  color: #1db954;
  transform: scale(1.15);
  will-change: transform;
}



.todo {
  padding: 10px;
  border-radius: 10px;
  margin-bottom: 5px;
  border-width: 2px;
  border-style: solid;
}

.grey-border { border-color: #cac9c9;}
.red-border { border-color: #fe9f9f;}
.orange-border { border-color: #fec79f;}
.yellow-border { border-color: #fadf94;}
.green-border {border-color: #befe9f;}
.blue-border {border-color: #9fedfe;}
.purple-border {border-color: #cfa3df;}
.pink-border {border-color: #fe9fe9;}

.checked {
  background-color: lime;
  opacity: 0.2;
}

